language: ruby
cache:
  bundler: true
rvm:
- 2.3.3
before_install:
- bundle install
- npm install -g yaspeller
install: true
script:
- scripts/update_changelog.sh
- yaspeller --only-errors ./**/*.md
- rake
- touch _site/.nojekyll
env:
  global:
  - NOKOGIRI_USE_SYSTEM_LIBRARIES=true
sudo: false
deploy:
  fqdn: kubevirt.io
  provider: pages
  skip_cleanup: true
  github_token: "$GITHUB_TOKEN"
  keep_history: true
  target_branch: master
  local_dir: _site
  on:
    branch: source
notifications:
  slack:
    on_success: never
    on_failure: always
    secure: YVa/pgQIUtrMH1p3emXjsUJmPCb2MXx8abdEe6qXdrjqM3j0VdpYKvAkxOtUEz9WXWNgDMyOj6ZCXhEXoN/j/uFhiBxPRYs5t0GDWwy+Pt4qP7x9bJeYkt96hCjTiaXXz7zsehi4qCxoUzPHIPMVzfl818h691Qj8qxk82EXPOaX0VeU63iofqpyrXGeX6GxvAfv5yCi/cHhhmyk9g2l9viOgXDeVCGYynlnTA7nqGDoedMAB3689MNYleYzCaYO/FuvTTpmgoZUdr4VtPiu3jnHH2o6qqSEFAR8ok3ioAm6fYszyfJ94kfayjKgzQcCTrYC79Prq2UV6BPCrzNVXxZUZuoK3cSOoZHi3IQdS4U5K03yNTHRzhPkG/BnsiGYq8cGMSOAwbrdegMrD5GgaUC6a18ItGRq7VeTTZTEMSxaLNYWbcdMPirwul3ei5c7qfgB3ftX2SggPl44imbFUAhmyGhgKsJiLt0j8GNg+S1XA3zylYTTDLPsHBQ9bTyaEEdMB496+8fe5t1q48CaWiG6UzwjX6LCcz5C3U6Y2wb6p14NunVH8Cj4IRQzp91hO/J6Ig+8h/OfUc9KVw/lAiNY8vaArkOx/H0g98e6XJIc+4peY99lt6OVYES7SVnHT72o6YB+LRhoXRMmL/4KZIri9IxDEDmI4SiXUlhbTlw=
