---
layout: homepage
---

<section style="background-color: #f5f5f5;">
  <div class="wrapper">
    <div class="container-fluid">
      <div id="why" class="row">
        <div class="col-md-5 offset-md-1 align-self-start">
          <h2 style="margin-top: 60px;">Why KubeVirt?</h2>
          <p>
            KubeVirt technology addresses the needs of development teams that have adopted or want to adopt <a href="#">Kubernetes</a> but
            possess existing Virtual Machine-based workloads that cannot be easily containerized. More specifically, the
            technology provides a unified development platform where developers can build, modify, and deploy applications
            residing in both Application Containers as well as Virtual Machines in a common, shared environment.
          </p>
          <p style="margin-bottom: 60px;">
            Benefits are broad and significant. Teams with a reliance on existing virtual machine-based workloads are
            empowered to rapidly containerize applications. With virtualized workloads placed directly in development workflows,
            teams can decompose them over time while still leveraging remaining virtualized components as is comfortably desired.
          </p>
        </div>
        <div class="col-md-6 align-self-end">
          <img src="./../assets/images/home-image1.svg" style="float: right;">
        </div>
      </div>
    </div>
  </div>
</section>

<section class="kubevirt-can-do">
  <div class="container-fluid">
    <div class="row">
      <div class="col offset-md-1 align-self-start">
        <h2 style="margin-top: 60px; margin-bottom: 40px;">What can I do with KubeVirt?</h2>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="card-group" style="justify-content: center;">
        <div class="card col-md-3 text-center">
          <div class="card-body" style="display: flex; margin: auto; height: 8rem;">
            <img src="./../assets/images/home-image-col1.svg">
          </div>
          <div class="card-footer">
            <p>
              Leverage KubeVirt and Kubernetes to manage virtual machines for impractical-to-containerize apps.
            </p>
          </div>
        </div>
        <div class="card col-md-3 text-center">
          <div class="card-body" style="display: flex; margin: auto; height: 8rem;">
            <img src="./../assets/images/home-image-col2.svg">
          </div>
          <div class="card-footer">
            <p>
              Leverage KubeVirt and Kubernetes to manage virtual machines for impractical-to-containerize apps.
            </p>
          </div>
        </div>
        <div class="card col-md-3 text-center">
          <div class="card-body" style="display: flex; margin: auto; height: 8rem;">
            <img src="./../assets/images/home-image-col3.svg">
          </div>
          <div class="card-footer">
            <p>
              Leverage KubeVirt and Kubernetes to manage virtual machines for impractical-to-containerize apps.
            </p>
          </div>
        </div>
      </div>
      <!-- <div class="col-3 text-center">
        <img src="./../assets/images/home-image-col2.svg">
        <p>
          Combine existing virtualized workloads with new container workloads on the one platform.
        </p>
      </div>
      <div class="col-3 text-center">
        <img src="./../assets/images/home-image-col3.svg">
        <p>
          Support development of new microservice applications in containers that interact with existing virtualized applications.
        </p>
      </div> -->
    </div>
  </div>
</section>

<!-- <div class="demoBG1">
  <span style="text-align: center; font-size: 28px;">KubeVirt Demo </span>
  <span style="text-align: center;">Get Started with KubeVirt {{ site.kubevirt_version }}</span>
</div>
<div class="demoBG2">
  <div class="wrapper">
    <div class="container">
      <div class="row">
        <a href="get_kubevirt#minikube" class="col-sm" style="padding-top: 25px; padding-bottom: 25px;">
          <div class="tryit_box">
            <div>KubeVirt on<br/><b>minikube</b></div>
            <div><img src="./../assets/images/img_minicube.png"></div>
          </div>
        </a>
        <a href="get_kubevirt#kubernetes_cluster" class="col-sm" style="padding-top: 25px; padding-bottom: 25px;">
          <div class="tryit_box">
            <div>KubeVirt on an<br/><b>existing Kubernetes cluster</b></div>
            <div><img src="./../assets/images/img_kubernetes_cluster.png"></div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>

<div id="usecases" class="page-content">
  <div class="wrapper">
    <div class="container">
      <h1> Use Cases </h1>
      <p>Leverage KubeVirt and Kubernetes to manage virtual machines for applications that are impractical to containerize due to technical limitations or lack of resources.</p>
      <hr/>
      <p>Combining existing virtualized workloads with new container workloads on the same platform, thereby making it easier to decompose monolithic virtualized workloads into containers over time.</p>
      <hr/>
      <p>Supporting development of new microservice applications in containers that interact with existing virtualized applications.</p>
      <hr/>
    </div>
  </div>
</div> -->

<!-- <div id="blog" class="page-content">
  <div class="wrapper">
    <div class="container">
      <h1>Blog</h1>
      <ul class="post-list">
        {% for post in site.posts limit:3 %}
          <li>
            <div class="blogTitle"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></div>
            <span class="blogAuthor">by {{ post.author }} - </span><span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
            <article class="post-content blogContentPreview">
            {{ post.content | remove: '<ul>' | remove: '<li>'  | remove: '</ul>' | remove: '</li>'  | truncatewords:30 }}
              {% capture readmorelink %}
                {{ post.url | prepend: site.baseurl }}
              {% endcapture %}
              {% include readmore.html href_link= readmorelink %}
            </article>
          </li>
        {% endfor %}
      </ul>
      <h5><a href="/blog">Read all BLOGS</a></h5><hr/>
      <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
    </div>
  </div>
</div> -->

<!-- <div class="page-content">
  <div class="wrapper">
    <div class="container">
      <div class="row">
        <div class="col-md-6" style="padding-bottom: 30px;">
          <h1>Red Hat Summit</h1>
          <h5>Come and visit us at Red Hat Summit. We will be at the community central booth.</h5>
          <img src="./../assets/images/redhat_summit.jpg">
        </div>
        <div class="col-md-6">
          <h1>Twitter Feeds</h1>
          <a class="twitter-timeline" data-width="560" data-height="500" href="https://twitter.com/kubevirt?ref_src=twsrc%5Etfw">Tweets by kubevirt</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
      </div>
    </div>
  </div>
</div> -->
