<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-sm-12 col-md-5">
      <p class="privacy-statement text-sm-left" style="text-align: center;">
        &copy; KubeVirt Authors {{ 'now' | date: "%Y" }} | Documentation Distributed under <a href="https://creativecommons.org/licenses/by/4.0/" target="_blank">CC-BY-4.0</a>. | <a href="/privacy" class="privacy-statement-link">Privacy Statement</a>
      </p>

      <p class="privacy-statement text-sm-left" style="text-align: center;">
        &copy; {{ 'now' | date: "%Y" }} The Linux Foundation. All rights reserved. The Linux Foundation has registered trademarks and uses trademarks. For a list of trademarks of The Linux Foundation, please see our <a href="https://www.linuxfoundation.org/trademark-usage" target="_blank">Trademark Usage</a> page.
      </p>
    </div>
    <div class="col-sm-12 col-md-5" style="text-align: center;">
      <p class="text-md-right">

        <a href="https://twitter.com/{{ site.twitter_username }}" aria-label="Visit us on Twitter" class="link-social-twitter">
          <i class="fab fa-twitter fa-lg"></i>
        </a>

        <a href="https://kubernetes.slack.com/archives/C8ED7RKFE" aria-label="Talk to us in Slack" class="link-social-slack">
          <i class="fab fa-slack fa-lg"></i>
        </a>

        <a href="https://github.com/{{ site.github_username }}" aria-label="View our repo on GitHub" class="link-social-github">
          <i class="fab fa-github fa-lg"></i>
        </a>

        <a href="{{ site.Mailinglist }}" aria-label="Send us an email" class="link-social-mail">
          <i class="fas fa-envelope fa-lg"></i>
        </a>

        <a href="{{ site.calendar }}"
            aria-label="See our calendar"
            class="link-social-calendar">
          <i class="fas fa-calendar fa-lg"></i>
        </a>
        <a href="https://www.youtube.com/channel/UC2FH36TbZizw25pVT1P3C3g/videos"
            aria-label="See our YouTube channel"
            class="link-social-youtube">
          <i class="fab fa-youtube fa-lg"></i>
        </a>

      </p>
    </div>
  </div>
  <div class="row">
    <div class="col offset-md-1 text-sm-left footer-licensing" style="text-align: center;">
      This site is powered by <a href="https://www.netlify.com/legal/open-source-policy/">Netlify</a>.
    </div>
  </div>
</div>
<script src="/js/copy.js"></script>

