  <a class="navbar-brand" href="/">
    <img src="{{ site.baseurl}}/assets/images/KubeVirt_logo_color.svg" height="30" class="d-inline-block align-top" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      {% assign doclist = site.data.site_nav_pages.nav  %}

      {% for item in doclist %}
        <li {% if page.title == item.title %} class="nav-item active" {% else %} class="nav-item" {% endif %}>
          <a class="nav-link text-uppercase" href="{{ item.url }}">{{ item.title }}</a>
        </li>
      {% endfor %}

    </ul>
  </div>
