  <a class="navbar-brand" href="/">
    <img src="{{ site.baseurl }}/assets/images/KubeVirt_logo_color.svg" class="navbar-brand-image d-inline-block align-top" alt="KubeVirt.io">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fas fa-th-large"></i>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      {% assign doclist = site.data.site_nav_pages.nav  %}

      {% for item in doclist %}
        <li {% if page.navbar_active == item.title %} class="nav-item active" {% else %} class="nav-item" {% endif %}>
          <a class="nav-link text-uppercase" href="{{ item.url | prepend: site.baseurl }}">{{ item.title }}</a>
        </li>
      {% endfor %}
      <li class='nav-item'>
          <form action="/search.html" method="get">
            <i class="fas fa-search docs-search"></i>
            <input type="text" id="search-input" class="docs-search--input" placeholder="Type to search" name="query">
            <input type="submit" value="🔍" style="display: none;">
          </form>
      </li>
    </ul>
  </div>
