{% if paginator.total_pages > 1 %}
<div class="pagination align-items-center">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="btn btn-outline-secondary btn-light mr-2">
      <i class="fas fa-angle-left"></i> New
    </a>
  {% else %}
    <span class="btn btn-outline-light mr-2">
      <i class="fas fa-angle-left"></i> New
    </span>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
      {% if page == paginator.page %}
        <strong class="font-weight-bold">{{ page }}</strong>
      {% endif %}
  {% endfor %}
  <strong>of {{ paginator.total_pages }}</strong>

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="btn btn-outline-secondary btn-light ml-2">
      Old <i class="fas fa-angle-right"></i>
    </a>
  {% else %}
    <span class="btn btn-outline-light ml-2">
      Old <i class="fas fa-angle-right"></i>
    </span>
  {% endif %}
{% endif %}
</div>
