{% if site.data.docs_toc.toc[0] %}
  {% for item in site.data.docs_toc.toc %}
    <h3 class="docs-title">
      <a href="{{ item.url }}" {% if page.title == item.title %} class="docs-title--item active" {% else %} class="docs-title--item" {% endif %}>{{ item.title }}</a>
    </h3>
    {% if item.subfolderitems[0] %}
    <ul class="docs-navigation">
      {% for entry in item.subfolderitems %}
        <li class="docs-navigation--item">
          <a href="{{ entry.url }}" {% if page.title == entry.page %} class="docs-navigation--item_link active" {% else %} class="docs-navigation--item_link" {% endif %}>
            {{ entry.page }}
          </a>
          {% if entry.subsubfolderitems[0] %}
            <ul class="docs-navigation_sub">
            {% for subentry in entry.subsubfolderitems %}
                <li class="docs-navigation_sub--item">
                  <a href="{{ subentry.url }}" {% if page.title == subentry.page %} class="docs-navigation_sub--item_link active" {% else %} class="docs-navigation_sub--item_link" {% endif %}>
                    {{ subentry.page }}
                  </a>
                </li>
            {% endfor %}
            </ul>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
    {% endif %}
  {% endfor %}
{% endif %}
