.hero {
  background-image: linear-gradient(to top, #3accc5, #00aab2);
  background-size: cover;
  min-height: 60vh;
  color: $kv-color--white;
  text-align: center;
  &-overlay {
    background: url(./../assets/images/hero-overlay.svg);
    background-size: cover;
    background-position: top center;
    min-height: 60vh;
    padding-top: 50px;
    @media (max-width: 992px) {
      padding-top: 75px;
    }
    .row {
      min-height: 12rem;
    }
    &-text {
      color: $kv-color--white;
    }
  }
  .card {
    background-image: linear-gradient(to bottom, $kv-color--green-300, $kv-color--green-450);
    background-color: $kv-color--green-450;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .08);
    border: none;
    border-radius: 0;
    color: $kv-color--white;
    &-body {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
    }
    &-text {
      margin-left: 1rem;
      color: $kv-color--white;
      font-size: 18px;
      text-align: left;
    }
    &-footer {
      background-color: transparent;
      border-top: none;
      border-radius: 0;
    }
  }
}
