.search-bar {
  margin-bottom: .5rem;
  padding-bottom: .5rem;
  border-bottom: 1px solid $kv-color--black-200;
}
.docs-search {
  color: $kv-color--green-500;
  position: absolute;
  margin-top: 7px;
  margin-left: 7px;
  &--input {
    padding-left: 25px;
  }
  &--container {
    list-style: none;
    padding-left: 0;
    &::before {

    }
  }
  &--results {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    &_item {}
  }
}
