.kubevirt-intro {
  background-color: $kv-color--black-150;
}
.row-community {
  &-title {
    min-height: 10vh;
  }
  &-buttons {
    min-height: 25vh;
  }
  &-calendar {
    min-height: 10vh;
  }
  &-networks {
    min-height: 25vh;
    background-color: $kv-color--black-150;
    &--twitter-feed {
      background-color: $kv-color--black-150;
    }
  }
}
.page-title {
  padding-top: 60px;
  margin-bottom: 40px;
}
.page-subtitle--spacer_top {
  margin-top: 60px;
}
.page-subtitle--spacer_bottom {
  margin-bottom: 40px;
}
.page-paragraph--spacer_bottom {
  margin-bottom: 60px;
}
.pagination {
  margin: 0 auto;
  .btn.btn-outline-light {
    cursor: default;
    &:hover {
      color: #f8f9fa; //override default hover behavior
      background-color: transparent; //override default hover behavior
      border-color: #f8f9fa; //override default hover behavior
    }
  }
}
.community-page {
  .page-title {
    margin-bottom: 0;
  }
}
.doc-intro-text {
  max-width: 85%;
  height: 7.8rem;
  overflow: hidden;
  text-overflow: ellipsis;
}
.kubevirt-can-do {
  .card {
    border: none;
    &-footer {
      background-color: transparent;
      border: none;
      border-radius: 0;
    }
  }
}

