---
layout: page
title: Blog
order: 4
---


{% include paging.html %}
<div id="blog" class="blogContentPreview">
  <ul class="post-list">
    {% for post in paginator.posts %}
      <li>
        <div class="blogTitle"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></div>
        <div><span class="blogAuthor">by {{ post.author }} - </span><span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span></div>
        <br/>
        <article class="post-content blogContentPreview">
          {% if post.content contains "<!-- more -->" %}
            {{ post.content | split:"<!-- more -->" | first }}
          {% else %}
            {{ post.content | strip_html | truncatewords:50 }}
          {% endif %}

          {% capture readmorelink %}
            {{ post.url | prepend: site.baseurl }}
          {% endcapture %}
          {% include readmore.html href_link= readmorelink %}
        </article>
      </li>
    {% endfor %}
  </ul>
  {% include paging.html %}
  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
</div>
