<!DOCTYPE html>
<html>
  <head>
    <title>KubeVirt: {{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript">
      function init() {
          window.addEventListener('scroll', function(e){
              var distanceY = window.pageYOffset || document.documentElement.scrollTop,
              shrinkOn = 50
              nav = document.getElementById("nav");
              content = document.getElementById("content");
              if (distanceY > shrinkOn) {
                  if (nav.className != "hamberger") {
                      nav.className = "hamberger"
                      content.className = "hamberger"
                  }
              } else {
                  if (nav.className == "hamberger") {
                      nav.className = ""
                      content.className = ""
                  }
              }
      });
      }
      window.onload = init();
    </script>
  </head>
  <body>
    <div id="header">
      <h1><a href="/">KubeVirt</a></h1>
    </div>
    <div id="body">
      <div id="nav">
	<ul>
	  <li><a href="/run">Run</a></li>
	  <li><a href="/docs">Documentation</a></li>
	  <li><a href="/contrib">Contribute</a></li>
	</ul>
      </div>
      <div id="content">
	<h2>{{ page.title }}</h2>
      {{ content }}
      </div>
    </div>
    <div id="footer">
      Participants in the project agree to abide by <a href="/conduct">the code of conduct</a>
      <br/>
      Web content &amp; assets <a href="copyright">&copy; {{ site.time | date: '%Y' }}</a> the KubeVirt authors

    </div>
  </body>
</html>
