---
layout: default
---

<div class="container-fluid">
  <div class="row">
    <h1 class="page-title pl-3">
      {% if page.title == 'Labs' %}
        {{ page.title }}
      {% else %}
        Labs - {{ page.title }}
      {% endif %}
    </h1>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-3">
      {% if site.data.labs_toc.toc[0] %}
        {% for item in site.data.labs_toc.toc %}
          {% if item.subfolderitems[0] %}
          <ul class="blogs-navigation">
            <h3>{{ item.title }}</h3>
            {% for entry in item.subfolderitems %}
              <!-- <h3 class="labs-title">
                <a href="{{ site.baseurl }}/{{ entry.url }}" {% if page.title == entry.page %} class="labs-title--item active" {% else %} class="labs-title--item" {% endif %}>{{ entry.page }}</a>
              </h3> -->
              <li class="blogs-navigation--item">
                <a href="{{ site.baseurl }}/{{ entry.url }}" {% if page.title == entry.page %} class="blogs-navigation--item_link active" {% else %} class="blogs-navigation--item_link" {% endif %}>
                  {{ entry.page }}
                </a>
                {% if entry.subsubfolderitems[0] %}
                    <ul class="blogs-navigation">
                    {% for subentry in entry.subsubfolderitems %}
                        <li class="blogs-navigation--item">
                          <a href="{{ subentry.url }}" {% if page.title == entry.page %} class="blogs-navigation--item_link active" {% else %} class="blogs-navigation--item_link" {% endif %}>
                            {{ subentry.page }}
                          </a>
                        </li>
                    {% endfor %}
                    </ul>
                  {% endif %}
              </li>
            {% endfor %}
          </ul>
          {% endif %}
        {% endfor %}
      {% endif %}
      <!-- {% if site.data.blogs_toc.toc[0] %}
        {% for item in site.data.blogs_toc.toc %}
          {% if item.subfolderitems[0] %}
          <ul class="blogs-navigation">
            <h3>{{ item.title }}</h3>
            {% for entry in item.subfolderitems %}
              <li class="blogs-navigation--item">
                <a href="{{ entry.url }}" {% if page.title == entry.page %} class="blogs-navigation--item_link active" {% else %} class="blogs-navigation--item_link" {% endif %}>
                  {{ entry.page }}
                </a>
                {% if entry.subsubfolderitems[0] %}
                    <ul class="blogs-navigation">
                    {% for subentry in entry.subsubfolderitems %}
                        <li class="blogs-navigation--item">
                          <a href="{{ subentry.url }}" {% if page.title == entry.page %} class="blogs-navigation--item_link active" {% else %} class="blogs-navigation--item_link" {% endif %}>
                            {{ subentry.page }}
                          </a>
                        </li>
                    {% endfor %}
                    </ul>
                  {% endif %}
              </li>
            {% endfor %}
          </ul>
          {% endif %}
        {% endfor %}
      {% endif %} -->
    </div>
    <!-- <div class="col-sm-12 col-md-4 col-lg-3 offset-lg-1">
      <div class="accordion" id="accordionTOC">
        <div class="card card--sidebar">
          <div class="card-header card-header--sidebar" id="headingTOC">
            <h5 class="mb-0">
              <button class="btn btn-link kv-btn-link--sidebar" type="button" data-toggle="collapse" data-target="#collapseTOC" aria-expanded="true" aria-controls="collapseTOC" style="width: 100%; text-align: left;">
                Labs
              </button>
            </h5>
          </div>
          <div id="collapseTOC" class="collapse show" aria-labelledby="headingTOC" data-parent="#accordionTOC">
            <div class="card-body card-body--sidebar">
              {% if site.data.labs_toc.toc[0] %}
                {% for item in site.data.labs_toc.toc %}
                  <h3>{{ item.title }}</h3>
                  {% if item.subfolderitems[0] %}
                    {% for entry in item.subfolderitems %}
                      <h3 class="labs-title">
                        <a href="{{ site.baseurl }}/{{ entry.url }}" {% if page.title == entry.page %} class="labs-title--item active" {% else %} class="labs-title--item" {% endif %}>{{ entry.page }}</a>
                      </h3>
                    {% endfor %}
                  {% endif %}
                {% endfor %}
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div> -->
    <div class="col-sm-12 col-md-9 docs">
      {{ content }}
    </div>
  </div>
</div>

