---
layout: default
navbar_active: blogs
---
<div class="container">
  <div class="row">
    <div class="col">
      <div class="post">
        <header class="post-header">
          <h1>{{ page.meta }}</h1>
          <h1 class="post-title">{{ page.title }}</h1>
          <div class="post-info">
            <span class="post-author">Author: {{ page.author }}</span>
            <div>
              <span class="post-meta">Publication Date: {{ page.date | date: "%B %-d, %Y" }}  {% if page.meta %} | {{ page.meta }}{% endif %}</span>
            </div>
            <div>
              <span class="post-category-name">
                Category: {{ page.category }}
              </span>
            </div>
          </div>
        </header>
        <article class="post-content">
          {{ content }}
        </article>
        {% if page.galleria %}
          <div class="galleria">
          </div>
          <script src="//cdn.jsdelivr.net/npm/galleria@1.6.1/dist/galleria.min.js"></script>
          <script>
          $.getJSON('/assets/galleria/{{ page.galleria }}', function(data) {
              Galleria.loadTheme('https://cdn.jsdelivr.net/npm/galleria@1.6.1/dist/themes/twelve/galleria.twelve.min.js');
              Galleria.run('.galleria', {
              dataSource: data,
              autoplay: true,
              responsive: true,
              maxVideoSize: 1300,
              imageCrop: false,
              imageTimeout: 1E10,
              wait: true,
          });
          });
          </script>

        {% endif %}
        {% include share_twitter.html text = page.title %}

        {% if page.comments or page.comments == nil %}
          <div id="disqus_thread"></div>
          <script>

          /**
          *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
          *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/

          var disqus_config = function () {
          this.page.url = post.url;  // Replace PAGE_URL with your page's canonical URL variable
          this.page.identifier = post.title; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
          };

          (function() { // DON'T EDIT BELOW THIS LINE
          var d = document, s = d.createElement('script');
          s.src = 'https://kubevirt-io.disqus.com/embed.js';
          s.setAttribute('data-timestamp', +new Date());
          (d.head || d.body).appendChild(s);
          })();
          </script>
          <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        {% endif %}

      </div>
    </div>
  </div>
</div>
