<!doctype html>
<html lang="en">

  {% include head.html %}

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" role="navigation">
      {% include header.html %}
    </nav>

    <main role="main" style="margin-top: 60px;">
      <div class="container">
        <div class="row">
          <h1 class="page-title">{{ page.navbar_active }}</h1>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-3">
            {% include sidebar-videos.html %}
          </div>
          <div class="col-sm-12 col-md-9 videos">
            {{ content }}
          </div>
        </div>
      </div>
    </main>

    <footer class="footer" role="footer">
      {% include footer.html %}
    </footer>

    <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js" integrity="sha384-3LK/3kTpDE/Pkp8gTNp2gR/2gOiwQ6QaO7Td0zV76UFJVhqLl4Vl3KL1We6q6wR9" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <script type="text/javascript">
        if (("undefined" !== typeof _satellite) && ("function" === typeof _satellite.pageBottom)) {
            _satellite.pageBottom();
        }
    </script>
  </body>
</html>
